<p>pre-venda-update works!</p>
<!-- alterar o status 

    
<div>
    <mat-form-field appearance="outline">
        <mat-label>Selecione um status</mat-label>
        <mat-select 
        [(ngModel)]="prevenda.status"
        name="status"
        [formControl]="status" 
        required>
          <mat-option value="0">ABERTO</mat-option>
          <mat-option value="1">EM ANDAMENTO</mat-option>
          <mat-option value="2">ENCERRADO</mat-option>
        </mat-select>
      </mat-form-field>  
    </div>-->
