.header {
    display: flex;
  
    align-items: center;
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(211,208,214,1) 0%, rgba(151,137,240,1) 0%, rgba(30,146,238,1) 27%, rgba(203,222,237,1) 58%);
}

.header a {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;
}

.header .logo {
    max-height: 80px;
    margin-top: -10px;
}

.header .title-group {
    padding-left: 25px;
}

.header .title-group i {
    padding-right: 5px;
}