<mat-card>
    <mat-card-title>Alterar Produto</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome"
                [(ngModel)]="product.nome" name="nome"
                [formControl]="nome"
                required>
        </mat-form-field>

        <mat-form-field>
            <mat-label> Subcategoria </mat-label> 
            <mat-select [(ngModel)] = "product.subcategoria.id" 
                name = "subcategoria.id" 
                placeholder="Subcategoria"
                [formControl]="subcategoria"
                required> 
                <mat-option [value]="">   </mat-option> 
              <mat-option *ngFor = " let subcategoria of subcategorias" [value]="subcategoria.id">
                {{subcategoria.descricao}}
              </mat-option> 
            </mat-select> 
          </mat-form-field>

        <mat-form-field>
            <input matInput placeholder="Preço (R$)"
                [(ngModel)]="product.preco" 
                name="preco"
                pattern="\d+,?\d{0,2}"
                [formControl]="preco"
                required >

        </mat-form-field>
    </form>
    <button mat-raised-button (click)="updateProduct()" [disabled]="!validaCampor()">
        Atualizar
    </button>
    
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>