<div class="container">
    <form class="form mat-elevation-z4">
        <h1>Login</h1>

        <img src="assets/img/logo.png" alt="logo">

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>E-mail</mat-label>
            <input [(ngModel)]="credenciais.email" name="email" matInput placeholder="Ex. nome@mail.com"  name="email">
        </mat-form-field>

        <mat-form-field class="full-width" appearance="fill">
            <mat-label>Senha</mat-label>
            <input [(ngModel)]="credenciais.senha" name="senha" type="password" matInput placeholder="Ex. 123"  name="senha">
        </mat-form-field>

        <button class="full-width mat-elevation-z4" mat-raised-button color="primary">
            Login
        </button>
        {{credenciais.email}}
    </form>
</div>